@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

html,
body {
  font-family: "Outfit", sans-serif !important;
}

@theme {
  --color-primary: #4bb22f;
  --color-primary-hover: #4aa22f;

  --color-secondary: #3b82f6;
  --color-secondary-hover: #2563eb;

  --color-heading: #002046;

  --color-accent: #ef4444;
  --color-accent-hover: #dc2626;

  --color-background: #f9fafb;
}

/* Style entire scrollbar */
::-webkit-scrollbar {
  width: 8px; /* vertical scrollbar */
  height: 8px; /* horizontal scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #14b8a6;
  border-radius: 5px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0d9488;
}


/* volujme progress css classes  */

.volume-slider {
  width: 36px;          /* visual height */
  height: 6px;
  transform: rotate(-90deg);
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
}

/* track */
.volume-slider::-webkit-slider-runnable-track {
  background: #e5e7eb;
  height: 6px;
  border-radius: 999px;
}

/* thumb */
.volume-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  background: #ec4899;
  border-radius: 50%;
  margin-top: -3px;
  cursor: pointer;
}

/* Firefox */
.volume-slider::-moz-range-track {
  background: #e5e7eb;
  height: 6px;
}

.volume-slider::-moz-range-thumb {
  background: #ec4899;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
